@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

* {
    text-align: center;
    font-family: 'Trispace', 'sans-serif';
}

header {
    width: fit-content;
    margin: 50px auto 0;
    font-size: 1rem;
    padding: 20px;
    background-color: rgba(251, 251, 251, 0.727);
    border-radius: 10px;
}

body {
    background-image: url(starry-sky-gde8b40c74_1280.jpg);
}
#form{
    margin-bottom: 50px ;
}

#exibicao { 
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#data, #botao {
    margin-top: 4rem;
    background-color: rgb(180, 168, 168);
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
#titulo, #explicacao{
    color: rgb(0, 0, 0);
    background-color: rgba(251, 251, 251, 0.727);
    border-radius: 10px 5px;
    padding: 10px;
}

iframe {
    border: none;
}

iframe, img {
    display: none;
    width: 1000px;
    height: 600px;
}
